.global-nav{
  border-top:  2px solid;
  border-bottom:2px solid;
  &__list{
    padding-left: 16px;
    padding-right: 16px;
    @include flex(center);
    list-style: none;
    margin: 0;
  }
 &__list-item{
  font-size: rem(14);
 }
 &__list-link{
  color: #{nth($colors, 1)};
  text-decoration:none;
  &:hover{
    color: #{nth($colors, 8)};
  }
 }
}
.menu{
  width: 0;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  background-color: #{nth($colors, 7)};
  padding-top: 136px;
  transition: .5s; 
  z-index: 1;
  box-sizing: border-box;
  &.open{
    width: 320px;
    border-left:1px solid;
  }
  &__inner{
    width: 256px;
    margin-left: auto;
    margin-right: auto;
  }
  &__list{
    padding: 0;
    list-style: none;
    &:first-child{
      margin: 0;
    }
    &:not(:first-child){
      margin-top: 40px;
      border-top:1px solid;
      padding-top: 40px;
      margin-bottom: 0;
    }
  }
  &__list-item{
    &:not(:first-child){
      margin-top: 28px;
    }
  }
  &__list-link{
    color: #{nth($colors, 1)};
    text-decoration:none;
    &:hover{
      color: #{nth($colors, 8)};
    }
  }
  &__search{
    margin-top: 48px;
  }
}
//pcのみ
@include mq(tab) { 
  .global-nav{
    &__list{
      padding-top: 20px;
      padding-bottom: 19px;
    }
    &__list-item{
      &:not(:first-child){
        margin-left: 64px;
      }
    }
  }
  .menu{
    height: 100vw;
  }
}
//タブレット以下
@include mq(tab-sp) { 
  .global-nav{
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display:none;
    }
    &__list{
      min-width: max-content;
    }
  }
}
//スマホ
@include mq(sp) { 
  .global-nav{
    &__list{
      padding-top: 18px;
      padding-bottom: 18px;
    }
    &__list-item{
      &:not(:first-child){
        margin-left: 24px;
      }
    }
  }
  .menu{
    padding-bottom: 54px;
  }
}